.section {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}

.item {
  margin-left: 2.5rem;
  margin-bottom: 1rem;
  width: 35rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 8px;
  padding: 0.5rem;
}

.pagination {
  display: flex;
  list-style: none;
}

.pagination li+li {
  margin-left: .5rem;
}

.pagination button {
  background: #fff;
  border-radius: 8px;
  width: 40px;
  height: 40px;
  border: 0.1px solid rgba(0, 0, 0, 0.24);
  cursor: pointer;
}

.pagination .button-active {
  background: rgb(212, 211, 211);
  border: none;
}