* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

header {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

header nav ul li {
  list-style: none;
}

header nav ul li button {
  /* display: inline-flex; */
  /* align-items: center; */
  /* justify-content: center; */
  width: 2rem;
  height: 2rem;
  cursor: pointer;

  border: 0.5px solid rgb(0, 0, 0);
}

header nav ul {
  display: flex;
  gap: 1rem;
}

/* ============== SECTION ITEMS ===================== */

section .list {
  margin: 0 auto;
  width: 90%;
  justify-content: center;
}

section .list .item {
  border: 0.5px solid;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

section .list .item p {
  margin-bottom: 0.5rem;
}